<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'MOVEMENTS.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-full-screen-spinner [isLoading]="isLoading"></app-full-screen-spinner>
  <ion-list-header>
    <ion-label>{{ 'MOVEMENTS.incomes' | translate }}</ion-label>
    <ion-fab-button size="small" color="primary" (click)="openIncomeModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-list-header>
  <app-single-line-chart *ngIf="incomeChartData.length > 0"
    color = "teal" title="Ingresos" [amount]="incomeAmount"
    [xAxisData]="incomeXAxis"
    [yAxisData]="incomeChartData">
  </app-single-line-chart>
  <ion-list *ngIf="incomes.length > 0">
    <app-movement-item *ngFor="let income of incomes"
    [title]="income.title"
    [amount]="income.amount"
    [date]="income.date"
    [isExpense]="false">
    </app-movement-item>
  </ion-list>

  <ion-list-header>
    <ion-label>{{ 'MOVEMENTS.expenses' | translate }}</ion-label>
    <ion-fab-button color="danger" size="small" (click)="openExpenseModal('true')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-list-header>
  <app-single-line-chart *ngIf="expenseChartData.length > 0"
    color = "red" title="Gastos" [amount]="expenseAmount"
    [xAxisData]="weekDays"
    [yAxisData]="expenseChartData">
  </app-single-line-chart>
  <ion-list *ngIf="expenses.length > 0">
    <app-movement-item *ngFor="let expense of expenses"
    [title]="expense.title"
    [amount]="expense.amount"
    [date]="expense.date"
    [isExpense]="true">
    </app-movement-item>
  </ion-list>

  <ion-modal [isOpen]="isIncomeModalOpen" (willDismiss)="closeIncomeModal()" #incomeModal>
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Income Form</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="closeIncomeModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <app-income-form></app-income-form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isExpenseModalOpen" (willDismiss)="closeExpenseModal()" #expenseModal>
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Expense Form</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="closeExpenseModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <app-expense-form></app-expense-form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

