<app-full-screen-spinner [isLoading]="isLoading"></app-full-screen-spinner>

<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-progress-bar [buffer]="buffer" [value]="progress"></ion-progress-bar>
    <ion-button slot="primary">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>Ingresos vs gastos</h5>
  <app-bar-home *ngIf="totalIncomes && totalExpenses" label1="Ingresos" label2="Gastos" [value1]="totalIncomes | number : '1.2-2'" [value2]="totalExpenses | number : '1.2-2'" color1="#33bbff" color2="#ff3385">
  </app-bar-home>
  <h5>Presupuesto vs ingresos (cashflow)</h5>
  <app-bar-home *ngIf="totalIncomes && totalEstimated" label1="Presupuesto" label2="Ingresos" [value1]="totalEstimated | number : '1.2-2'" [value2]="totalIncomes | number : '1.2-2'" color1="#33bbff" color2="#333399">
  </app-bar-home>
  <h5>Gastos vs Presupuestos</h5>
  <app-bar-home *ngIf="totalExpenses && totalEstimated" label1="Presupuesto" label2="Gastos" [value1]="totalEstimated | number : '1.2-2'" [value2]="totalExpenses | number : '1.2-2'" color1="#333399" color2="#ff3385">
  </app-bar-home>
</ion-content>
