/* Components */

ion-card {
  background: url('../../../assets/backgrounds/product_background.jpg') no-repeat center;
  background-size: cover;
  height: 80px;
  box-shadow: inset 0 0 0 100px #00000090;
}

ion-card-title {
  color: #fff;
  font-weight: 700;
  font-size: 1em;
}

ion-card-subtitle {
  color: #fff;
  font-size: 0.8em;
}

ion-avatar {
  width: 36px;
  height: 36px;
  float: right;
}

/* Product card custom colors */

.teal {
  box-shadow: inset 0 0 0 100px #00ccccf0 !important;
}
.blue {
  box-shadow: inset 0 0 0 100px #039be7f0 !important;
}
.purple {
  box-shadow: inset 0 0 0 100px #7a22ecf0 !important;
}
.red {
  box-shadow: inset 0 0 0 100px #ff5555f0 !important;
}
.orange {
  box-shadow: inset 0 0 0 100px #ffab24f0 !important;
}
.yellow {
  box-shadow: inset 0 0 0 100px #e2c700f0 !important;
}
.black {
  box-shadow: inset 0 0 0 100px #00000090 !important;
}
