.category-selector{
  border-radius: 15px;
  padding: 12px;
  color: #FFF;
}

.teal {
  background-color: #00ccccf0 !important;
}
.blue {
  background-color: #039be7f0 !important;
}
.purple {
  background-color: #7a22ecf0 !important;
}
.red {
  background-color: #ff5555f0 !important;
}
.green {
  background-color: #2dd36f !important;
}
.violet {
  background-color: #8C7AE6 !important;
}
.orange {
  background-color: #ffab24f0 !important;
}
.yellow {
  background-color: #e2c700f0 !important;
}
.black {
  background-color: #00000090 !important;
}
