<app-full-screen-spinner [isLoading]="isLoading"></app-full-screen-spinner>

<ion-header>
  <ion-toolbar>
    <ion-title>Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button size="small" id="open-modal">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <h3>My accounts</h3>
    <ion-grid *ngIf="accounts.length > 0">
      <ion-row>
        <ion-col size="6" *ngFor="let account of accounts">
          <app-product-card [name]="account.name" [amount]="account.amount" [color]="account.color"></app-product-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-modal [isOpen]="isModalOpen" #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Cuenta nueva</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      <!-- Account form -->
      <app-account-form modalState="isModalOpen"></app-account-form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
