<div class="app-menu navbar-menu">
  <div class="navbar-brand-box">
    
  </div>
  <div id="scrollbar">
    <div class="container-fluid">
      <div class="sidebar-menu-scroll" style="max-height: calc(100vh - 70px)">
        <ngx-simplebar class="sidebar-menu-scroll" style="max-height: calc(100vh - 70px)">
          <ul class="metismenu list-unstyled navbar-nav" id="navbar-nav">
              <li class="nav-item">
                <a class="side-nav-link-ref nav-link menu-link" href="/velzon/angular/default/widgets" aria-expanded="false">
                  <i class="mdi icon nav-icon mdi-home"></i>
                  <span> {{ "TABS.home" | translate }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="side-nav-link-ref nav-link menu-link" href="/velzon/angular/default/widgets" aria-expanded="false">
                  <i class="bx icon nav-icon ri-honour-line"></i>
                  <span> {{ "TABS.movements" | translate }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="side-nav-link-ref nav-link menu-link" href="/velzon/angular/default/widgets" aria-expanded="false">
                  <i class="bx icon nav-icon ri-honour-line"></i>
                  <span> {{ "TABS.accounts" | translate }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="side-nav-link-ref nav-link menu-link" href="/velzon/angular/default/widgets" aria-expanded="false">
                  <i class="bx icon nav-icon ri-honour-line"></i>
                  <span> {{ "TABS.estimations" | translate }}</span>
                </a>
              </li>
          </ul>
        </ngx-simplebar>
      </div>
    </div>
  </div>
</div>
